* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: sans-serif;
}

.content {
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

footer {

  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

.row {
  color: #ffffff;
}

.sm {
  background: #3B5998;
  color: white;

}

div#fm p {
  display: inline;
}

.carousel-inner {
  border-radius: 15px;
}

.card {
  color: #b5985a;
}

.rc {
  border: 3px solid;
  border-radius: 15px;
  background-color: #b5985a;
  color: white;
}

.data {
  padding: 15px;
}

video {
  padding: 15px;
  border-radius: 15px;
}

.second-nav {
  margin-top: 10px;
}

.nav-item.nav-link.active:hover {
  text-decoration: underline;
  color: #007bff;
}

.fa {
  padding: 10px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 37px;
  border-radius: 6px;
}

.fa-facebook {
  background: #3B5998;
  color: rgb(255, 255, 255);
}

.fa-instagram {
  background: #E1306C;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa:hover {
  opacity: 1;
}



@media only screen and (min-width: 768px) {


  .data {
    width: 50%;
    float: right;
  }
}


@media only screen and (max-width: 767px) {

  .rc {
    display: flex;
    flex-direction: column;
  }

  .rc video {
    width: 100% !important;
    height: auto;
  }

  .data {
    width: 100% !important;
    float: none;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.service {
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.service img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.service h3 {
  margin-top: 10px;
}

.content {
  text-align: center;
}

.space-image {
  margin-top: 7px;
}
